{% extends 'index.html' %}

{% block title %}Добавление материала{% endblock %}

{% block content %}
<div>

    <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Наименование</th>
            <th scope="col">Ед.изм.</th>
            <th scope="col">Цена</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td><a href="{% url "add_object_to_calc" calc_id search_type object.pk scroll%}">{{object.name}}</a></td>
              <td>{{object.measurement_unit}}</td>
              <td>{{object.price}}</td>
            </tr>
          {% empty %}
          <tr>
            <td></td>
            <td>Ничего не найдено! :( </td>

          </tr>
          
          
          
          {% endfor %}
          <tr>
            <td></td>
            <td>
              <form action="{% if search_type == 'work'%}{% url 'search_work' %}{%endif%}{% if search_type == 'mat'%}{% url 'search_material' %}{%endif%}" method="get">
                <input type="hidden" name="calc_id" type="text" value='{{calc_id}}' >
                <input name="search_query" type="text" placeholder="Кто ищет тот найдет...">
                <input type="submit" value="Искать...">
              </form>
            <td>
          </tr>
          {% if search_query %}
          {% if search_type == "mat" %}
          <tr>
            <td></td>
            <td>
              <a href="#1" onClick="window.open('https://www.etm.ru/catalog?searchValue={{search_query}}', 'newWin', 'Toolbar=0, Location=0, Directories=0, Status=0, Menubar=0, Scrollbars=0, Resizable=0, Copyhistory=1, Width=800, Height=600')">Поискать "{{search_query}}" в ЭТМ</a>
            </td>
          </tr>
          {% endif %}
          {% endif %}
          <tr>
            <td></td>
            
              {% if search_type == "work" %}
              {% comment %} <form method="post">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Save">
            </form> {% endcomment %}
              <form action="{% url 'add_work' %}" method="post">
                {% csrf_token %}
                <td>{{form.name}}<input name="name" type="text"></td>
                <td>{{form.measurement_unit}}<input name="measurement_unit" type="text"></td>
                <td>{{form.price}}<input name="price" type="text"></td>
                <td><input type="submit" value="Добавить"></td>
              </form>
              {% elif search_type == "mat"%}
                <a href="{% url "add_material" %}">Добавить новый вид работы</a>
              {% else %}
                В шаблон не передана переменная search_type
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    
</div>
{% endblock %}